.card {
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 128px;
	height: calc(128px * 1.4);
	border-radius: 8px;

	background-color: hsl(0, 0%, 100%);
	box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.1);

	user-select: none;
}

.suit {
	font-size: 48px;
}

.mark {
	position: absolute;

	font-size: 12px;
	font-weight: 700;
}

.topLeft {
	top: 12px;
	left: 12px;
}

.bottomRight {
	bottom: 12px;
	right: 12px;
}
