.card {
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 128px;
	height: calc(128px * 1.4);

	border-color: hsl(0, 0%, 90%);
	border-radius: 8px;
	border-width: 1px;
	box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.1);
	font-family: monospace;

	touch-action: none;
	user-select: none;
}

.cardBlack {
	color: hsl(0, 0%, 20%);
}

.cardRed {
	color: hsl(0, 80%, 40%);
}

.cardFaceDown {
	background-color: hsl(0, 0%, 98%);
}

.cardFaceDown.cardRed {
	color: hsl(0, 40%, 40%);
}

.cardFaceDown.cardBlack {
	color: hsl(0, 0%, 40%);
}

.cardFaceUp {
	background-color: hsl(0, 0%, 100%);
}

.suit {
	font-size: 64px;
}

.identifier {
	position: absolute;

	font-size: 16px;
	font-weight: 700;
}

.identifierTopLeft {
	top: 8px;
	left: 8px;
}

.identifierBottomRight {
	bottom: 8px;
	right: 8px;
}
